<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        模板
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/base.css">
    {% block style %}
    {% endblock %}
</head>
<body>
    <div class="main">
        <p class="sign">
            {% block sign %}

            {% endblock %}
        </p>
        <div class="content">

            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>